@page "{restaurantId:int}"
@model FoodieFavorites.Pages.Detail

@{
    ViewData["Title"] = "Restaurant Details";
}

<h2>@Model.Restaurant.Name</h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div>
    <strong>Id:</strong> @Model.Restaurant.Id
</div>
<div>
    <strong>Location:</strong> @Model.Restaurant.Location
</div>
<div>
    <strong>Cuisine:</strong> @Model.Restaurant.Cuisine
</div>

<a asp-page="./List" class="btn btn-primary" >All Restaurants</a>
